<div class="row" ng-controller="DashboardController">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
		<ul class="nav nav-tabs">
			<li class="active"><a showtab data-toggle="tab" href="#show">Show Info</a></li>
			<li><a showtab data-toggle="tab" href="#edit">Edit Info</a></li>
		</ul>
		<div class="tab-content">
			<div id="show" class="tab-pane fade in active">
				<h3>HOME</h3>
				<p>Some content.</p>
			</div>
			<div id="edit" class="tab-pane fade">
				<h3>Menu 1</h3>
				<p>Some content in menu 1.</p>
			</div>
		</div>
	</div>
</div>