<div class="row translate-block" ng-controller="TranslateController">
	<div class=".col-md-3 .col-md-offset-3">
		<button class="btn btn-info" ng-click="setEn()">En</button>
		<button class="btn btn-info" ng-click="setRu()">Ru</button>
	</div>
</div>
<div class="row" ng-controller="DashboardController">
	<div class="col-sm-8 col-md-offset-2">
		<h1>{{'DASHBOARD_VIEW' | translate}}</h1>
		<div><a ui-sref="logout" class="pull-right need-help">{{'LOGOUT' | translate}}</a><span class="clearfix"></span></div>
		<ul class="nav nav-tabs">
			<li ng-class='{"active":bClick=="show"}' ng-click='bClick="show"'><a ui-sref="dashboard.show">{{'SHOW_INFO' | translate}}</a></li>
			<li ng-class='{"active":bClick=="edit"}' ng-click='bClick="edit"'><a ui-sref="dashboard.edit">{{'EDIT_INFO' | translate}}</a></li>
		</ul>
		<div class="tab-content" ui-view></div>
	</div>
</div>