<div class="row translate-block" ng-controller="TranslateController">
	<div class=".col-md-3 .col-md-offset-3">
		<button class="btn btn-info" ng-click="setEn()">En</button>
		<button class="btn btn-info" ng-click="setRu()">Ru</button>
	</div>
</div>
<div class="row" ng-controller="ForgotController">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<h3><i class="fa fa-lock fa-4x"></i></h3>
						<div ng-show="successMessage" class="alert alert-success">
							<strong>Success!</strong> {{ 'SUCCESS_MESSAGE_FORGOT' | translate }} {{password}}
						</div>
						<div ng-show="errorMessage" class="alert alert-danger">
							<strong>Error!</strong> {{ 'ERROR_MESSAGE_FORGOT' | translate }}
						</div>
						<span class="loading" ng-show="loading"><strong>{{ 'LOADING' | translate }}</strong></span>
						<h2 class="text-center">{{ 'FORGOT_PASSWORD_LINK' | translate }}</h2>
						<p>{{REMIND_PASSWORD}}</p>
						<div class="panel-body">
							<form class="form">
								<fieldset>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-pencil color-blue"></i></span>
											<input id="loginInput" ng-model="user.login" placeholder="{{'YOUR_LOGIN' | translate}}" class="form-control" type="text" required autofocus>
										</div>
									</div>
									<div class="form-group">
										<input class="btn btn-lg btn-primary btn-block" ng-click="forgotMy()" value="{{'REMIND' | translate}}" type="submit">
									</div>
									<a ui-sref="login" class="pull-right need-help">{{'LOGIN_PAGE' | translate}}</a><span class="clearfix"></span>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>