<!DOCTYPE html>
<html ng-app="guestApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AngularJS project for form fields validations</title>
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./app/css/main.css">
	<script src="/node_modules/angular/angular.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>Task #1: Validations form fields</h1>
			</div>
		</div>
		<div class="row" ng-controller="GuestController">
			<form class="guest-form" name="guestForm" novalidate>
				<div class="col-md-6">
					<label style="color:red;">*All fields are required</label>
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" name="nameGuest" ng-model="user.name" placeholder="Enter your name" required russian-name>
						<span class="error_span" ng-show="guestForm.nameGuest.$error.rName">Error: This is not a valid name. Current format: russian symbols, two words with separator ".", the first character must be uppercase.</span>
					</div>
					<div class="form-group">
						<label>Age</label>
						<input type="number" class="form-control" name="ageGuest" ng-model="user.age" placeholder="Enter age" min="18" max="65" required>
					</div>
					<div class="form-group">
						<label>Birthdate</label>
						<input type="text" class="form-control" name="birthdateGuest" ng-model="user.birthdate" placeholder="Enter your birthdate" required date-format>
						<span class="error_span" ng-show="guestForm.birthdateGuest.$error.dFormat">Error: This is not a valid birthdate. Current format: DD MM YYYY</span>
					</div>
					<div class="form-group">
						<button ng-click="apply(user)" ng-disabled="guestForm.$invalid" class="btn btn-primary">Aply</button>
					</div>
				</div>
				<div class="col-md-6">
					<span ng-show="master.name">Hi, {{master.name}}! How are you doing?</span>
					<br>
					<span ng-show="master.age">Do you really {{master.age}} years old?</span>
					<br>
					<span ng-show="master.birthdate">You were born {{master.birthdate}}</span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>